@mixin clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media #{$tablet-width} {
    width: 620px;
  }

  @media #{$desktop-width} {
    width: 940px;
  }
}

@mixin container-fluid() {
  width: auto;

  @media #{$tablet-width} {
    width: 94%;
    max-width: 940px;
    margin: 0 auto;
  }
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}