$body-bg: #ffffff;
$main-nav-bg: #283645;
$page-header-bg: #000000;
$page-header-min-bg: rgba($page-header-bg, 0.3);
$sections-bg: #f2f2f2;

$body-color: #283645;
$page-header-color: #ffffff;
$headers-color: #000000;
