body {
  background-image: url('../../img/iphone-hand-mobile@1x.png'),
          url('../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 200px 175px, left top;
}