body {
  font-family: $font-family;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  text-align: center;
  background-repeat: no-repeat;
  //background-position: center 175px, center top;
  background-position: center top;
}

@media #{$tablet-width} {
  body {

  }
}

@media #{$desktop-width} {
  body {

  }
}

img {
  max-width: 100%;
  height: auto;
}

