.app-versions {
  padding-top: 65px;
  padding-bottom: 48px;
  background: $sections-bg;
}

//.app-versions__list,
//.app-versions__item-options {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}

.app-versions__list {
  width: 270%;
  margin: 0 auto;
  background: $body-bg;
  transform: translateX(-31%);
  border-collapse: collapse;
}

.app-versions__list td:first-child {
  display: none;
}

.app-versions__list td {
  padding-top: 21px;
  padding-bottom: 21px;
  border: 2px solid $sections-bg;
}

.app-versions__item-name,
.app-versions__item-price {
  margin: 0;
  padding: 0;
  color: $page-header-color;
  background: $main-nav-bg;
  text-transform: uppercase;
}

.app-versions__item-name {
  font-weight: $font-weight-bold;
}

.app-versions__item-price {
  font-size: $font-size-big;
  font-weight: $font-weight-light;
  line-height: 30px;
}

.app-versions__row {
  //font-size: 0;
  text-align: left;
}

.app-versions__item-option,
.app-versions__item-option--hidden {
  padding-left: 25px;
  font-size: $font-size-small;
  line-height: 30px;
  text-transform: uppercase;
}

.app-versions__item-option-availability {
  position: relative;
}

.app-versions__option-availability {
  position: absolute;
  right: 20px;
  color: transparent;
}

.app-versions__option-availability--yes {
  width: 31px;
  height: 21px;
  background: url("../img/icon-yes.svg") no-repeat center;
  background-size: cover;
}

.app-versions__option-availability--no {
  width: 27px;
  height: 26px;
  background: url("../img/icon-no.svg") no-repeat center;
  background-size: cover;
}

@media #{$tablet-width} {
  .app-versions__list {
    @include container;
    width: 100%;
    transform: translateX(0);
  }

  .app-versions__list td:first-child {
    display: table-cell;
  }

  .app-versions__toggles {
    display: none;
  }

  .app-versions .slider__input {
    display: none;
  }

  .app-versions__item-option--hidden {
    display: none;
  }

  .app-versions__option-availability {
    right: 40%;
    top: 30%
  }

  .app-versions__header td:first-child {
    background: $sections-bg;
  }

  .app-versions__row {
    text-align: center;
  }

  .app-versions__item-option {
    text-align: left;
  }

  .app-versions__list td {
    min-width: 154px;
  }
}

@media #{$desktop-width} {
  .app-versions__list td {
    min-width: 235px;
  }
}