.contest {
  padding-top: 60px;
}

.contest__title {
  margin: 0;
  margin-bottom: 85px;
  font-size: $font-size-big;
  font-weight: $font-weight-light;
  color: $page-header-color;
}

.contest__conditions {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 54px;
  font-size: $font-size-small;
  line-height: 30px;
  background: $body-bg;
}

.contest__conditions-request {
  display: none;
}

@media #{$tablet-width} {
  .contest {
    @include container-fluid;
    padding-top: 80px;
  }
  .contest__title {
    width: 480px;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: $font-size-super-big;
    font-weight: $font-weight-light;
  }

  .contest__conditions {
    width: 487px;
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 auto;
  }

  .contest__conditions-request {
    display: inline;
  }
}

@media #{$desktop-width} {
  .contest__title {
    width: 739px;
  }

  .contest__conditions {
    width: 752px;
  }
}