.contest-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  background: $body-bg;
}

.contest-form input,
.contest-form label {
  //display: block;
  //margin-right: auto;
  //margin-left: auto;
}

.contest-form__title {
  width: 220px;
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: $font-size-small;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $footer-info-color;
}

.contest-form__personality,
.contest-form__app,
.contest-form__achievements,
.contest-form__contacts,
.contest-form__emotions {
  //@include container-fluid;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.contest-form__personality label,
.contest-form__contacts label,
.contest-form__emotions label {
  font-size: $font-size-small;
  line-height: 30px;
  text-transform: uppercase;
  color: $footer-info-color;
}

.contest-form__text,
.contest-form__email,
.contest-form__tel {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  box-sizing: border-box;
}

.contest-form__personality label,
.contest-form__contacts label {
  margin-left: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.contest-form__emotions label {
  margin-top: 59px;
  margin-bottom: 20px;
}

.contest-form__achievements,
.contest-form__app {
  padding-bottom: 50px;
  background: $sections-bg;
}

.contest-form__achievements input,
.contest-form__app input {
  //display: none;
}

.contest-form__option {
  margin-bottom: 60px;
}

.contest-form__option:last-of-type {
  margin-bottom: 0;
}

.contest-form__contacts {
  padding-top: 38px;
}

.contest-form__contacts legend,
.contest-form__emotions legend {
  display: none;
}

.contest-form__btn {
  width: 276px;
  padding: 22px 48px;
  margin-bottom: 40px;
  align-self: center;
  font-weight: $font-weight-bold;
  line-height: 30px;
  text-transform: uppercase;
  color: $page-header-color;
  background: $button-bg;
  border: none;
  cursor: pointer;
}

.contest-form__note {
  font-size: $font-size-small;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__note sup {
  color: $footer-info-color;
}

.contest-form__note-text {
  display: none;
}

.contest-form__personality input,
.contest-form__contacts input {
  margin-bottom: 20px;
}

.contest-form__achievements label,
.contest-form__app label {
  margin-bottom: 30px;
}

.contest-form__personality input:last-child,
.contest-form__contacts input:last-child {
  margin-bottom: 0;
}

.contest-form__achievements label:last-child,
.contest-form__app label:last-child {
  margin-bottom: 0;
}

.contest-form__textarea {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  margin-bottom: 40px;
  box-sizing: border-box;

}

@media #{$tablet-width} {
  //.contest-form {
  //  //@include clearfix;
  //  //position: relative;
  //}

  .contest-form fieldset {
    margin-bottom: 60px;
    border: 2px solid #e5e5e5;
  }

  .contest-form fieldset:nth-of-type(1) {
    border: none;
  }

  .contest-form legend {
    padding-top: 0;
    text-align: center;
  }

  .contest-form__contacts legend,
  .contest-form__emotions legend {
    display: block;
  }

  .contest-form__emotions label {
    display: none;
  }

  .contest-form__achievements,
  .contest-form__app {
    background: $body-bg;
  }

  .contest-form__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .contest-form__question:last-child {
    margin-bottom: 0;
  }

  .contest-form__personality {
    padding-bottom: 0;
  }

  .contest-form__question:nth-of-type(1) .contest-form__text,
  .contest-form__question:nth-of-type(3) .contest-form__text {
    width: 80%;
  }

  .contest-form__question:nth-of-type(2) .contest-form__text {
    width: 85%;
  }

  .contest-form__personality {
    order: 0;
  }

  .contest-form__achievements {
    order: 3;
  }

  .contest-form__contacts {
    order: 2;
  }

  .contest-form__app {
    order: 1;
  }

  .contest-form__emotions {
    order: 4;
  }

  .contest-form__controls {
    order: 5;
    display: flex;
    justify-content: space-between;
  }

  .contest-form__contacts .contest-form__title {
    margin-bottom: 0;
  }

  .contest-form__contacts-flex {
    display: flex;
    flex-direction: column;
  }

  .contest-form__tel {
    order: 0;
  }

  .contest-form__contacts-flex label:first-of-type {
    order: 1;
  }

  .contest-form__email {
    order: 2;
  }

  .contest-form__contacts-flex label:last-of-type {
    order: 3;
  }

  .contest-form__contacts input,
  .contest-form__contacts input:last-child {
    margin-bottom: 15px;
  }

  //
  //.contest-form__personality input {
  //  margin-right: 0;
  //  margin-left: auto;
  //  margin-bottom: 60px;
  //}
  //
  //.contest-form__personality label {
  //  //position: absolute;
  //}
  //
  //.contest-form__personality label {
  //  margin-right: 15px;
  //}
  //

  //
  //.contest-form__contacts {
  //  //position: absolute;
  //  //top: 620px;
  //  width: 616px;
  //  box-sizing: border-box;
  //}
  //
  //.contest-form__contacts label {
  //  //position: absolute;
  //  //top: 130px;
  //  //left: 80px;
  //}
  //
  //.contest-form__contacts label:nth-of-type(2) {
  //  //position: absolute;
  //  //top: 220px;
  //  //left: 80px;
  //}
  //
  //.contest-form__contacts input {
  //  width: 496px;
  //  margin-bottom: 60px;
  //}
  //
  //.contest-form__contacts input:last-child {
  //  margin-bottom: 60px;
  //}
  //
  //.contest-form__textarea {
  //  width: 496px;
  //}
  //
  //.contest-form__btn {
  //  float: left;
  //}
  //
  //.contest-form__note {
  //  float: right;
  //}
  //
  //.contest-form__app {
  //  //position: absolute;
  //  //top: 290px;
  //  width: 616px;
  //  box-sizing: border-box;
  //}
  //
  //.contest-form__achievements {
  //  margin-top: 400px;
  //}
}

@media #{$desktop-width} {
  .contest-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest-form__personality,
  .contest-form__app {
    width: 431px;
  }

  .contest-form__personality {
    margin-right: 74px;
  }

  .contest-form__contacts,
  .contest-form__achievements,
  .contest-form__emotions,
  .contest-form__controls {
    width: 936px;
  }

  .contest-form__contacts-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contest-form__tel {
    order: 0;
    width: 371px;
    margin-right: 74px;
  }

  .contest-form__contacts-flex label:first-of-type {
    order: 2;
    margin-right: 250px;
  }

  .contest-form__email {
    order: 1;
    width: 371px;
  }

  .contest-form__contacts-flex label:last-of-type {
    order: 3;
  }

  .contest-form__contacts input,
  .contest-form__contacts input:last-child {
    margin-bottom: 15px;
  }

  .contest-form__achievements {
    padding-bottom: 0;
  }

  .contest-form__achievements-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 180px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contest-form__option {
    width: 260px;
  }

  .contest-form__option:last-child {
    margin-bottom: 60px;
  }

  .contest-form__question:nth-of-type(1) .contest-form__text,
  .contest-form__question:nth-of-type(3) .contest-form__text {
    width: 75%;
  }

  .contest-form__question:nth-of-type(2) .contest-form__text {
    width: 80%;
  }

  //.contest-form__option:nth-child(3) {
  //  order: 1;
  //}
  //
  //.contest-form__option:nth-child(2) {
  //  order: 3;
  //}

  //.contest-form__personality,
  //.contest-form__app {
  //  width: 431px;
  //}
  //
  //.contest-form__app {
  //  top: 0;
  //  right: 0;
  //}
  //
  //.contest-form__personality {
  //  padding-bottom: 60px;
  //}
  //
  //.contest-form__text:nth-of-type(1) {
  //  width: 336px;
  //}
  //
  //.contest-form__text:nth-of-type(2) {
  //  width: 376px;
  //}
  //
  //.contest-form__text:nth-of-type(3) {
  //  width: 337px;
  //}
  //
  //.contest-form__contacts {
  //  top: 360px;
  //  width: 936px;
  //}
  //
  //.contest-form__contacts input {
  //  display: inline-block;
  //  vertical-align: top;
  //  width: 371px;
  //  margin-right: 70px;
  //}
  //
  //.contest-form__contacts input:last-child {
  //  margin-right: 0;
  //}
  //
  //.contest-form__contacts label:nth-of-type(2) {
  //  top: 130px;
  //  left: 540px;
  //}
  //
  //.contest-form__achievements {
  //  margin-top: 360px;
  //}
  //
  //.contest-form__achievements label {
  //  display: inline-block;
  //  vertical-align: top;
  //  padding-left: 100px;
  //}
  //
  //.contest-form__textarea {
  //  width: 816px;
  //}
  //
  //.contest-form__note-text {
  //  display: inline;
  //}
}

