.download {
  padding-top: 393px;

  &--nojs {
    padding-top: 420px;
  }
}

.download__wrapper {
  //@include container;
  //min-height: 200px;
  width: 282px;
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 28px;
  padding-bottom: 15px;
  color: $page-header-color;
  background-color: $download-bg;
}

.download__title {
  display: none;
}

.download__link {
  width: 281px;
  margin-bottom: 34px;
  color: $page-header-color;
  border-color: $body-bg;
}

.download__info {
  margin-top: 22px;
  font-size: $font-size-small;
  line-height: 24px;
}

@media #{$tablet-width} {
  .download {
    @include container;
    @include clearfix;
    padding: 0;
    margin-top: 0;
    //position: absolute;
    //top: 0;
    //left: 0;
  }

  .download__wrapper {
    float: left;
    //margin-left: 15px;
    padding: 80px 0;
    width: 300px;
    min-height: 400px;
    background-color: transparent;
  }

  .download__title {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: $font-size-rather-bigger;
    font-weight: $font-weight-light;
    line-height: 48px;
  }

  .download__link {
    width: 300px;
    margin-bottom: 48px;
  }

  .download__info {
    margin-top: 35px;
    font-size: $font-size-normal;
    font-weight: $font-weight-light;
  }
}

@media #{$desktop-width} {
  .download__wrapper {
    min-height: 500px;
    //margin-left: 10px;
    padding: 110px 0;
  }
}