.download {
  padding-top: 380px;
}

.download__wrapper {
  //@include container;
  //min-height: 200px;
  width: 282px;
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 38px;
  padding-bottom: 35px;
  color: $page-header-color;
  background-color: $main-nav-bg;
}

.download__title {
  display: none;
}

.download__link {
  width: 281px;
  color: $page-header-color;
  border-color: $body-bg;
}

.download__info {
  margin-top: 25px;
  font-size: $font-size-small;
}

@media #{$tablet-width} {
  .download {
    @include container;
    @include clearfix;
    padding: 0;
    margin-top: 0;
    //position: absolute;
    //top: 0;
    //left: 0;
  }

  .download__wrapper {
    float: left;
    //margin-left: 15px;
    padding: 80px 0;
    width: 300px;
    min-height: 400px;
    background-color: transparent;
  }

  .download__title {
    display: block;
    margin: 0;
    margin-bottom: 50px;
    font-size: $font-size-super-big;
    font-weight: $font-weight-light;
  }

  .download__link {
    width: 300px;
  }
}

@media #{$desktop-width} {
  .download__wrapper {
    min-height: 500px;
    //margin-left: 10px;
    padding: 110px 0;
  }
}