.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 85px;
  font-size: $font-size-big;
  font-weight: $font-weight-light;
  color: $page-header-color;
}

.gallery__description {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 54px;
  background: $body-bg;
}

@media #{$tablet-width} {
  .gallery {
    //@include container;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 90px;
  }

  .gallery__title {
    width: 348px;
    margin: 0 auto;
    margin-bottom: 150px;
    font-size: $font-size-super-big;
    font-weight: $font-weight-light;
  }

  .gallery__description {
    padding-top: 100px;
    padding-bottom: 90px;
  }
}

@media #{$desktop-width} {
  .gallery {
    @include container;
    justify-content: space-between;
  }
  .gallery__title {
    margin-bottom: 100px;
  }
}