//.inner-page {
//  background-image: url('../img/bg-back-mobile@1x.jpg');
//  background-repeat: no-repeat;
//  background-position: center top;
//}

.inner-page .intro--nojs {
  min-height: 562px;
}

.inner-page .page-header {
  margin-top: 0;
}

.inner-page .page-footer-logo {
  margin-bottom: 32px;
}

@media #{$tablet-width} {
  .inner-page .intro--nojs {
    min-height: 805px;
  }
}

@media #{$desktop-width}{
  .inner-page .intro--nojs {
    min-height: 394px;
  }
}
