.intro {
  min-height: 485px;
  padding-top: 5px;
  background-color: $download-bg;
  background-image: url('../img/bg-back-mobile.png');
  background-repeat: no-repeat;
  background-position: center top;

  &--inner-page {
    min-height: 237px;
    padding-top: 0;
    background-image: url('../img/bg-back-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center top;
  }

  &--nojs {
    min-height: 787px;
    padding-top: 0;
    background-position: center 325px;
  }
}


.intro__title {
  width: 230px;
  margin: 32px auto;
  font-size: $font-size-big;
  font-weight: $font-weight-light;
  line-height: 30px;
  color: $page-header-color;
}

@media #{$tablet-width} {
  .intro {
    min-height: 729px;
    padding-top: 0;
    background-image: url('../img/bg-back-tablet.png');

    &--inner-page {
      min-height: 440px;
      background-image: url('../img/bg-back-tablet.jpg');
      background-repeat: no-repeat;
      background-position: center top;
    }

    &--nojs {
      min-height: 1095px;
      padding-top: 0;
      background-position: center 365px;
    }
  }

  .intro__title {
    width: 490px;
    font-size: $font-size-super-big;
  }
}

@media #{$desktop-width} {
  .intro {
    min-height: 853px;
    background-image: url('../img/bg-back-desktop.png');

    &--inner-page {
      min-height: 394px;
      background-image: url('../img/bg-back-desktop.jpg');
      background-repeat: no-repeat;
      background-position: center top;
    }

    &--nojs {
      min-height: 854px;
      padding-top: 0;
      background-position: center top;
    }
  }


}