.main-nav {
  position: relative;
  width: 50px;
  //min-height: 24px;
  margin: 0 auto;
  //line-height: 32px;
  font-weight: $font-weight-bold;
  color: $page-header-color;
  background: $main-nav-bg;

  //&--closed {
  //  margin-left: 135px;
  //  display: inline-block;
  //  vertical-align: top;
  //  font-size: 0;
  //  background: $page-header-min-bg;
  //}

  &--closed .main-nav__toggle {
    right: -110px;
    width: 50px;
    height: 24px;
    background: $page-header-min-bg url('../img/icon-menu-burger.svg') no-repeat;
  }

  &--opened {
    position: absolute;
    //min-width: 320px;
    width: 100%;
    left: 0;
  }

  &--opened .main-nav__toggle {
    right: 20px;
    height: 23px;
    padding-left: 13px;
    padding-right: 13px;
    background: $main-nav-bg url('../img/icon-menu-cross.svg') no-repeat center;
  }

  &--nojs {
    width: 100%;
  }

  &--nojs .main-nav__toggle {
    display: block;
    top: -40px;
    right: 0;
    width: 50px;
    height: 24px;
    background: $main-nav-bg url('../img/icon-menu-cross.svg') no-repeat center;
  }

  &--nojs .main-nav__list {
    width: 100%;
  }
;
}

.main-nav__toggle {
  position: absolute;
  top: -42px;
  width: 50px;
  padding: 0;
  vertical-align: top;
  font-size: 0;
  border: none;
  cursor: pointer;
}

.main-nav__list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  min-height: 63px;
  box-shadow: 0 1px 0 0 #000000;
}

.main-nav__item a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: $font-size-normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: $page-header-color;
}

@media #{$mobile-tablet-width} {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    //display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media #{$tablet-width} {
  .main-nav {
    width: 100%;
    left: 0;
  }

  .main-nav--opened .main-nav__list {
    min-width: 700px;
  }

  .main-nav--closed .main-nav__toggle {
    right: 0;
  }
}

@media #{$desktop-width} {
  .main-nav {
    float: right;
    width: auto;
    background: transparent;
  }

  .main-nav--opened {
    position: static;
  }

  .main-nav--opened .main-nav__list {
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    float: left;
    margin-right: 70px;
    box-shadow: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__item a {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: $font-weight-normal;
    text-transform: none;
  }
}