.main-nav {
  color: $page-header-color;

  &--closed .main-nav__list {
    display: none;
  }

  &--closed .main-nav__toggle {
    width: 50px;
    height: 24px;
    background: $page-header-min-bg url('../../img/icon-menu-burger.svg') no-repeat;
    border: none;
    font-size: 0;
  }
}

.main-nav__toggle {

}