.main-nav {
  color: $page-header-color;
  line-height: 32px;
  font-weight: $font-weight-bold;

  &--closed {
    margin-left: 155px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
  }

  &--closed .main-nav__list {
    display: none;
  }

  &--closed .main-nav__toggle {
    width: 50px;
    height: 24px;
    background: $page-header-min-bg url('../../img/icon-menu-burger.svg') no-repeat;
    border: none;
    font-size: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}