.modal-content {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  background: $body-bg;
  box-shadow:
          0 7px 15px 0 $box-shadow-color,
          0 0 15px 0 $box-shadow-color;

  &--success {
    top: 1641px;
  }

  &--failure {
    top: 1167px;
  }
}

.modal-content__info {
  padding: 40px 30px;
  padding-bottom: 35px;
}

.modal-content__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
  line-height: 24px;
  color: $page-header-bg;
}

.modal-content__text {
  margin: 0;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  line-height: 24px;
  color: $body-color;
}

.modal-content__controls {
  width: 100%;
  padding: 50px 0;
  background: $sections-bg;
}

.modal-content--failure .modal-content__controls {
  padding-top: 0;
  padding-bottom: 50px;
  background: $body-bg;
}

.modal-content__close {
  display: block;
  margin: 0 auto;
}

.modal-content--failure .modal-content__close {
  padding: 17px 127px;
}

@media #{$tablet-width} {
  .modal-content {
    width: 460px;
    left: 50%;
    margin-left: -230px;
    box-sizing: border-box;

    &--success {
      top: 1386px;
    }

    &--failure {
      top: 909px;
    }
  }

  .modal-content__info {
    padding: 40px 83px;
  }

  .modal-content__title {
    font-size: $font-size-rather-big;
    font-weight: $font-weight-bold;
    line-height: 40px;
  }

  .modal-content__text {
    font-size: $font-size-normal;
    line-height: 24px;
  }
}

@media #{$desktop-width} {
  .modal-content {

    &--success {
      width: 780px;
      margin-left: -390px;
      top: 1274px;
    }

    &--failure {
      top: 830px;
    }
  }

  .modal-content--success .modal-content__info {
    padding: 40px 191px;
  }

  .modal-content--success .modal-content__close {
    width: 460px;
  }
}
