.page-header-logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin-right: 200px;
  padding-bottom: 20px;
}

@media #{$tablet-width} {
  .page-header-logo {
    width: 147px;
    height: 40px;
    margin-right: 350px;
    padding-bottom: 0;
  }
}

@media #{$desktop-width} {
  .page-header-logo {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 0;
  }
}
