.page-header-logo {
  display: inline-block;
  margin-right: 200px;
}

.page-header-logo svg {
  width: 120%;
  transform: translate(-37%, -30%);
}

.page-header-logo[href]:hover path {
  fill: $footer-info-color;
}

.page-header-logo[href]:active path {
  fill: $body-bg;
  opacity: 0.3;
}

.page-header-logo[href]:active .page-header-logo__stars path {
  fill: $footer-info-color;
  opacity: 0.3;
}

.page-header-logo__glasses,
.page-header-logo__glasses-fill,
.page-header-logo__stars {
  display: none;
}

@media #{$tablet-width} {
  .page-header-logo {
    width: 147px;
    height: 40px;
    margin-right: 350px;
    padding-bottom: 0;
  }

  .page-header-logo svg {
    width: 100%;
    transform: translate(-42%, -36%);
  }

  .page-header-logo__glasses-fill {
    display: inline;
  }
}

@media #{$desktop-width} {
  .page-header-logo {
    padding-top: 35px;
    padding-bottom: 30px;
    margin-right: 0;
  }

  .page-header-logo svg {
    transform: translate(0, -15%);
  }

  .page-header-logo__glasses-fill {
    display: none;
  }

  .page-header-logo__glasses,
  .page-header-logo__stars {
    display: inline;
  }
}
