.page-header {
  min-height: 22px;
  padding: 22px 20px;
  padding-bottom: 0;
  margin-top: 5px;
  color: $page-header-color;
  background: $page-header-min-bg;
}

.page-header__wrapper {
  @include container;
}

@media #{$tablet-width} {
  .page-header {
    min-height: 365px;
  }
}

@media #{$desktop-width} {
  .page-header {
    min-height: 110px;
  }
}