.publish-photo__description {
  padding-top: 47px;
  padding-bottom: 47px;
  font-size: $font-size-small;
}

.publish-photo__editor {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background: $sections-bg;
}

.publish-photo__editor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

.publish-photo__editor a {
  display: block;
  font-weight: $font-weight-bold;
  text-decoration: none;
}

.publish-photo__toggle {
  margin-top: 34px;
  margin-bottom: 27px;
}

.publish-photo__editor-tools {
  margin-bottom: 39px;
}

.publish-photo__toggle:nth-of-type(2),
.publish-photo__toggle:nth-of-type(3) {
  display: none;
}

.publish-photo__post {
  color: $footer-info-color;
}

.publish-photo__cancel {
  color: $button-disabled-color;
}

@media #{$tablet-width} {
  //.publish-photo {
  //  @include container;
  //}

  .publish-photo__editor {
    //@include clearfix;
    flex-wrap: wrap;
    height: 374px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .publish-photo__editor-tools {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //justify-content: space-between;
    height: 200px;
  }

  .publish-photo__editor-tool {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 0;
  }

  .publish-photo__toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .publish-photo__toggle:nth-of-type(2),
  .publish-photo__toggle:nth-of-type(3) {
    display: block;
  }
  //.publish-photo__editor img {
  //  float: left;
  //}
  //
  //.publish-photo__editor-tools button {
  //  display: block;
  //}
}

@media #{$desktop-width} {
  .publish-photo__editor {
    @include container;
    padding-left: 0;
    padding-right: 0;
    //width: 800px;
    //margin: 0 auto;
    //padding-right: 60px;
    //padding-left: 80px;
  }

  .publish-photo__controls {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
  }
}